docs/
**/.ipynb_checkpoints/
**/models/
.idea/

# AzureML notebooks
*.amlignore
*.amltmp
*.amltemp
**/.ipynb_aml_checkpoints/

# Logs and runs
**/runs/
**/logs/**
**/logs_multiclass_onehot/**
**/logs_multiclass_integer/**
**/logs_multilabel/**
**/logs_linear_regression_simple/**
**/logs_nonlinear_regression_multiple/**
**/logs_cats_and_dogs/**
**/logs_cats_and_dogs_resnet/**
**/logs_cats_and_dogs_resnet50/**
**/logs_cats_and_dogs_transfer/**
**/logs_cats_and_dogs_transfer_dense/**
**/logs_cats_and_dogs_transfer_finetuned/**
**/gans/**

# data
**/cats_and_dogs_filtered/**
cats_and_dogs_filtered.zip

# hyperparameter search
**/random_search/**

# Model saves
*.h5